@charset "utf-8";

html,
body {
	background: #f3f3f3;
}

nav li {
	width: 50%;
	text-align: center;
	font-size: .32rem;
	color: #313131;
	line-height: 1.5rem;
	height: 1.5rem;
	position: relative;
}

nav li i {
	width: 1.24rem;
	height: .05rem;
	position: absolute;
	top: 1.05rem;
	left: 50%;
	margin-left: -.62rem;
}

nav li.on i {
	background: #0192dd;
}

main li {
	margin-top: .02rem;
	font-size: .24rem;
	color: #313131;
	background: #fff;
	height: .82rem;
	line-height: .82rem;
}

main li .ico {
	height: .82rem;
	width: .6rem;
	background-image: url('../img/team/team_ico1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: .26rem .26rem;
	position: relative;
}

main li.on .ico {
	background-image: url('../img/team/team_ico2.png');
	background-size: .26rem .04rem;
}

main li .name {
	margin-left: 1.13rem;
	margin-right: .35rem;
}

main li .state {
	color: #a0a0a0;
	margin-right: .3rem;
}

main li .num {
	color: #a0a0a0;
	margin-right: .5rem;
}

main li.shape1 {
	margin-left: .2rem;
}

main li.shape1 .name {
	margin-left: .93rem;
}

main li.shape2 {
	margin-left: .4rem;
}

main li.shape2 .name {
	margin-left: .73rem;
}

main li.shape3 {
	margin-left: .6rem;
}

main li.shape3 .name {
	margin-left: .53rem;
}